// $small: 300px;
$medium: 1400px;
html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    
}


.inicioContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .inicioContenido {
        margin: 0 15vw;

        div {
            h1 {
                padding-top: 4.5vw;

                .inicioTitle {
                    display: block;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 4.20rem;
                    line-height: 5rem;
                    position: relative;

                    &::before {
                        content: 'Fullstack Developer';
                        position: absolute;
                        color: white;
                        left: -3px;
                        top: 4px;
                        z-index: -10;
                        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                    }
                }

                .colorTitle {
                    color: #0ACF83;
                }

                .inicioText {
                    display: block;
                }

                font-family: 'Lato';
                font-style: normal;
                font-weight: 700;
                font-size: 1.5rem;
                line-height: 1.875rem;
                margin-bottom: 1rem;

            }

            .socialInicio {
                svg {
                    margin-right: .5rem;
                }

                .linkedinInicio {
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        color: #0a66c2;
                    }
                }

                .githubInicio {
                    cursor: pointer;
                    transition: all .3s;

                    &:hover {
                        color: #333;
                    }
                }
            }

        }

        .imageInicio {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 25rem;
                height: 25rem;
                padding: 0;
            }

        }
    }

}

.navbar {
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(4px);
    height: 5vh;
    .nav-link {
        
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 1.55rem;
        line-height: 2.375rem;
        margin-right: 1rem;
        color: #000000;
    }
}

.waveTopSkills {
    width: 100%;
    height: 13vh;
    position: absolute;
    z-index: -100;
}

.waveBottomSkills {
    width: 100%;
    height: 13vh;
    position: relative;
    bottom: -5px;

}

.skillsContainer {
    
    margin: 0 15vw;

    .skillTittle {

        display: flex;
        justify-content: center;

        h2 {
            display: inline-block;
            color: white;
            font-style: normal;
            font-weight: 700;
            font-size: 4rem;
            line-height: 5rem;
            position: relative;
            margin-top: 1rem;
            margin-bottom: 3rem;


            &::before {
                content: 'Skills';
                position: absolute;
                color: #0acf83;
                left: -3px;
                top: 4px;
                z-index: -10;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
        }
    }

    .icons {


        img {
            transform: scale(.7);
            transition: all .5s;
            padding: 0 3vw;

            &:hover {
                transform: scale(.8);
            }
        }

        .figma {
            transform: scale(.45);
            transition: all .5s;

            &:hover {
                transform: scale(.55);
            }
        }
    }
}

.portafolioBg {
    background-color: #0ACF83;
    position: relative;
    z-index: 10;
    width: 100%;
   
    
    .portafolioContainer {
        margin: 0 15vw;


        .portafolioTittle {
            display: flex;
            justify-content: center;
            h2 {
                display: inline-block;
                color: white;
                font-style: normal;
                font-weight: 700;
                font-size: 4rem;
                line-height: 5rem;
                position: relative;
                margin-top: 2.5rem;
                margin-bottom: 3rem;
    
    
                &::before {
                    content: 'Portafolio';
                    position: absolute;
                    color: #0acf83;
                    left: -3px;
                    top: 4px;
                    z-index: -1;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                }
            }

        }
        
        .portafolioButtonContainer {
            display: flex;
            justify-content: center;
            padding-bottom: 1rem;

            .portafolioButton {
                display: inline-block;
                text-align: center;
                background: #FFFFFF;
                border-radius: 50px;
                color: #0ACF83;
                font-weight: 500;
                font-size: 26px;
                line-height: 43px;
                padding: .5rem 2rem;
                position: relative;
                border: solid 2px transparent;
                transform-style: preserve-3d;
                border: 2px solid #000000;

                transition: .2s all;
                
            }
            
            .portafolioButton::before {
                content: 'Mas proyectos';
                color: transparent;
                border: 2px solid #000000;
                padding: 1.75rem 2rem;
                border-radius: 50px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                transform: translate3d(-.5rem, .5rem, -1rem);
                transition: .2s all;
                

            }

            .portafolioButton:active {
                transform: translate(-.5rem, .55rem);
                
            }

            .portafolioButton:active:before {
                transform: translate3d(-.0, 0, -1rem);
            }
            

        }

        .portafolioCard {
            
            display: flex;
            justify-content: center;
            padding: 0 0;
            margin-bottom: 1.5rem;

            a {
                img {
                    transition: all .3s;
                }
                &:hover {
                    
                    img {
                        opacity: .8;
                    }
                }
            }
           
        }

    }

    .waveBottomPortafolio {
        position: relative;
        width: 100vw;
        height: 10vh;
        bottom: -60px;
        
    }


}

.certificadosBg {
    margin-top: 5rem;
    width: 100vw;
    position: relative;
    padding-bottom: 20rem;
    
    .certificadosTitle {
        display: flex;
        justify-content: center;
        padding: 2rem 0 0rem 0;
        h2 {
            display: inline-block;
            color: rgb(0, 0, 0);
            font-style: normal;
            font-weight: 700;
            font-size: 4rem;
            line-height: 5rem;
            position: relative;
            margin-top: 1rem;
            text-align: center;
    
    
            &::before {
                content: 'Certificados';
                position: absolute;
                color: #ffffff;
                left: -3px;
                top: 4px;
                z-index: -10;
                font-style: normal;

                font-weight: 700;
                font-size: 4rem;
                line-height: 5rem;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
        }
    }

    .waveBottomCertificado {
        position: absolute;
        bottom: -5px;
        width: 100%;
        height: 5rem;
    }

    .certificadoContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 45vw;
        margin: 1rem auto;
        
        .certificado {
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 50px;
            margin: 15px 0;
            padding: 18px 16px;
            .certifcadoInfo {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                
                img {
                    height: 8rem;
                }

                div {
                    padding-left: 1rem;

                    h3 {
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 58px;
                        color: #000000;
                        margin: 0;
                    }

                    p {
                        font-family: 'Lato';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 26px;
                        line-height: 35px;
                        color: #B7B7B7;

                    }

                }

            }

            .certificadoLink {
                
                a {

                    svg {
                        transition: all .3s;
                    }

                    &:hover {
    
                        svg {
                            stroke: #099b63;
    
                        }
                    }
                }

            
            }
        }
    }

    .certificadosButtonContainer {
        display: flex;
        justify-content: center;
        padding-top: 4rem;

        .certificadosButton {
            display: inline-block;
            text-align: center;
            background: #FFFFFF;
            border-radius: 50px;
            color: #0ACF83;
            font-weight: 500;
            font-size: 26px;
            line-height: 43px;
            padding: .5rem 2rem;
            position: relative;
            border: solid 2px transparent;
            transform-style: preserve-3d;
            border: 2px solid #000000;

            transition: .2s all;
            
        }
        
        .certificadosButton::before {
            content: 'Mas certificados';
            color: transparent;
            border: 2px solid #000000;
            padding: 1.75rem 2rem;
            border-radius: 50px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transform: translate3d(-.5rem, .5rem, -1rem);
            transition: .2s all;
            

        }

        .certificadosButton:active {
            transform: translate(-.5rem, .55rem);
            
        }

        .certificadosButton:active:before {
            transform: translate3d(-.0, 0, -1rem);
        }

    }
}

.contactoBg { 
    background-color: #0ACF83;
    position: relative;
    z-index: 10;
    width: 100%;

    .contactoTittle {
        display: flex;
        justify-content: center;
        h2 {
            display: inline-block;
            color: white;
            font-style: normal;
            font-weight: 700;
            font-size: 4rem;
            line-height: 5rem;
            position: relative;
            margin-bottom: 3rem;


            &::before {
                content: 'Contacto';
                position: absolute;
                color: #0acf83;
                left: -3px;
                top: 4px;
                z-index: -1;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
        }

    }

    .contactoForm {
        margin: 0 15vw;

        .formDiv {
            padding: 1rem;
        }

        .form-input {
            border: 0 solid;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 27px;
            line-height: 35px;
            padding: 1rem;
        }

        .form-input:focus {
            outline: none;
        }
    }

    .contactoButtonContainer {
        display: flex;
        justify-content: center;
        margin: 2rem 0;

        .contactoButton {
            display: inline-block;
            text-align: center;
            background: #FFFFFF;
            border-radius: 50px;
            color: #0ACF83;
            font-weight: 500;
            font-size: 26px;
            line-height: 43px;
            padding: .5rem 2rem;
            position: relative;
            border: solid 2px transparent;
            transform-style: preserve-3d;
            border: 2px solid #000000;

            transition: .2s all;
            
        }
        
        .contactoButton::before {
            content: 'Mas proyectos';
            color: transparent;
            border: 2px solid #000000;
            padding: 1.75rem 2rem;
            border-radius: 50px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transform: translate3d(-.5rem, .5rem, -1rem);
            transition: .2s all;
            

        }

        .contactoButton:active {
            transform: translate(-.5rem, .55rem);
            
        }

        .contactoButton:active:before {
            transform: translate3d(-.0, 0, -1rem);
        }

        .contactoButton:focus {
            outline: none;
        }
    }

    .divider {
        display: flex;
        justify-content: center;

        p {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 900;
            font-size: 55px;
            line-height: 80px;
            display: flex;
            align-items: center;
            text-align: center;
            position: relative;
            color: #FFFFFF;                        
        }

        p::before {

            content: '—o—';
            position: absolute;
            left: -3px;
            top: 4px;
            z-index: -1;
            text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            color: #0ACF83;
                                   
        }
    }

    .redes {
        margin: 0 10vw;
        padding: 1rem 0;

        a {
            display: flex;
            justify-content: center;
        }

        .twitter {
            transition: all .5s;
        }

        .twitter:hover {
            fill: #1Da1F2;
        }

        .twitch {
            transition: all .5s;
        }

        .twitch:hover {
            fill: #6441a5;
        }

        .github {
            transition: all .5s;
        }

        .github:hover {
            fill: #333;
        }

        .linkedin {
            transition: all .5s;
        }

        .linkedin:hover {
            fill: #0a66c2;
        }

    }
}